<h3>Edit Information for <%= @student.first_name %> <%= @student.last_name %> Here </h3>

<%= form_for @student do |f| %>
<%= f.label :first_name %>
<%= f.text_field :first_name %>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
<%= f.submit %>
<% end %>

<%= link_to 'Index', students_path, :method => :get %>
<%= link_to 'Create New Student', new_student_path, :method => :get %>
